@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(./images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 270px;
  /* background-color: #eee; */
  font-family: "Josefin Sans", sans-serif;
}
.dark body {
  background-image: url(./images/bg-desktop-dark.jpg);
  background-color: hsl(235, 21%, 11%);
}
@media only screen and (max-width: 492px) {
  body {
    background-image: url(./images/bg-mobile-light.jpg);
  }
  .dark body {
    background-image: url(./images/bg-mobile-dark.jpg);
  }
}

/* bg grad for check box */
.results .item.completed .checkbox,
.addItem-btn {
  background-image: linear-gradient(
    135deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

/* filtering results */
.item {
  display: none;
}
.show-active .item.active {
  display: flex;
}
.show-completed .item.completed {
  display: flex;
}
.show-all .item {
  display: flex !important;
}

.no-result.active {
  display: block !important;
}
